/* _color.scss */        
.example-particle-color {
    width: 145px;
    height: 100px;                        
}
.example-particle-ice-blue {
    background-color: $particle-ice-blue;
}
.example-particle-ice-blue {
    background-color: $particle-ice-blue;
}
.example-particle-rain-blue {
    background-color: $particle-rain-blue;
}
.example-particle-deep-sky-blue {
    background-color: $particle-deep-sky-blue;
}
.example-particle-lilac-violet {
    background-color: $particle-lilac-violet;
}
.example-particle-periwinkle {
    background-color: $particle-periwinkle;
}
.example-particle-electric-indigo {
    background-color: $particle-electric-indigo;
}
.example-particle-dark-violet {
    background-color: $particle-dark-violet;
}
.example-particle-white {
    background-color: $particle-white;
}
.example-particle-stardust-grey {
    background-color: $particle-stardust-grey;
}
.example-particle-cloud-grey {
    background-color: $particle-cloud-grey;
}
.example-particle-winter-grey {
    background-color: $particle-winter-grey;
}
.example-particle-siberian-grey {
    background-color: $particle-siberian-grey;
}
.example-particle-matter-grey {
    background-color: $particle-matter-grey;
}
.example-particle-anthracite-grey {
    background-color: $particle-anthracite-grey;
}
.example-particle-deep-space-grey {
    background-color: $particle-deep-space-grey;
}
.example-particle-signal-green {
    background-color: $particle-signal-green;
}
.example-particle-signal-green-light {
    background-color: $particle-signal-green-light;
}
.example-particle-azure-blue {
    background-color: $particle-azure-blue;
}
.example-particle-azure-blue-light {
    background-color: $particle-azure-blue-light;
}
.example-particle-torch-red {
    background-color: $particle-torch-red;
}
.example-particle-torch-red-light {
    background-color: $particle-torch-red-light;
}
.example-particle-saffron-yellow {
    background-color: $particle-saffron-yellow;
}
.example-particle-saffron-yellow-light {
    background-color: $particle-saffron-yellow-light;
}
.example-particle-lava-orange {
    background-color: $particle-lava-orange;
}
.example-particle-lava-orange-light {
    background-color: $particle-lava-orange-light;
}
.example-particle-ultra-violet {
    background-color: $particle-ultra-violet;
}
.example-particle-validation-red {
    background-color: $particle-validation-red;
}
.example-particle-validation-orange {
    background-color: $particle-validation-orange;
}
.example-particle-validation-green {
    background-color: $particle-validation-green;
}
.example-particle-storm-grey {
    background-color: $particle-storm-grey;
}

.example-particle-chart-1 {
    background-color: $particle-chart-1;
}
.example-particle-chart-2 {
    background-color: $particle-chart-2;
}
.example-particle-chart-3 {
    background-color: $particle-chart-3;
}
.example-particle-chart-4 {
    background-color: $particle-chart-4;
}
.example-particle-chart-5 {
    background-color: $particle-chart-5;
}
.example-particle-chart-6 {
    background-color: $particle-chart-6;
}
.example-particle-chart-7 {
    background-color: $particle-chart-7;
}
.example-particle-chart-8 {
    background-color: $particle-chart-8;
}
.example-particle-chart-9 {
    background-color: $particle-chart-9;
}
.example-particle-chart-10 {
    background-color: $particle-chart-10;
}
.example-particle-chart-11 {
    background-color: $particle-chart-11;
}
.example-particle-chart-12 {
    background-color: $particle-chart-12;
}
.example-particle-chart-13 {
    background-color: $particle-chart-13;
}
.example-particle-chart-14 {
    background-color: $particle-chart-14;
}
.example-particle-chart-15 {
    background-color: $particle-chart-15;
}
.example-particle-chart-16 {
    background-color: $particle-chart-16;
}
.example-particle-chart-17 {
    background-color: $particle-chart-17;
}
.example-particle-chart-18 {
    background-color: $particle-chart-18;
}
.example-particle-chart-19 {
    background-color: $particle-chart-19;
}
.example-particle-chart-20 {
    background-color: $particle-chart-20;
}
.example-particle-chart-21 {
    background-color: $particle-chart-21;
}
.example-particle-chart-22 {
    background-color: $particle-chart-22;
}
.example-particle-chart-23 {
    background-color: $particle-chart-23;
}
.example-particle-chart-24 {
    background-color: $particle-chart-24;
}
.example-particle-chart-25 {
    background-color: $particle-chart-25;
}
.example-particle-chart-26 {
    background-color: $particle-chart-26;
}
.example-particle-chart-27 {
    background-color: $particle-chart-27;
}
.example-particle-chart-28 {
    background-color: $particle-chart-28;
}
.example-particle-chart-29 {
    background-color: $particle-chart-29;
}
.example-particle-chart-30 {
    background-color: $particle-chart-30;
}

.example-particle-dynamic-ultra {
    background-color: $particle-dynamic-ultra;
}
.example-particle-iris {
    background-color: $particle-iris;
}
.example-particle-slow-dancer {
    background-color: $particle-slow-dancer;
}
.example-particle-lens-flare {
    background-color: $particle-lens-flare;
}
.example-particle-fusion {
    background-color: $particle-fusion;
}
.example-particle-after-burner {
    background-color: $particle-after-burner;
}
.example-particle-apollo {
    background-color: $particle-apollo;
}
.example-particle-aurora {
    background-color: $particle-aurora;
}
.example-particle-code-blue {
    background-color: $particle-code-blue;
}
.example-particle-global-control {
    background-color: $particle-global-control;
}
