footer {
    height: 100px;
    svg {
        display: none !important;
        visibility: hidden !important;
    }
}

p {
  font-size: 1.5rem;
}

.bx--side-nav__link {
  color: #585858;
  padding-left: 2px;
}

.bx--side-nav__link:hover {
  color: black !important;
  font-weight: 500;
  outline: none !important;
  background-color: $particle-cloud-grey !important;
}

.bx--side-nav__link:focus {
  outline: none !important;
  color: black;
  font-weight: 500;
  background-color: $particle-cloud-grey !important;
  padding-left: 3px;
}

  a.#{$prefix}--side-nav__link[aria-current='page']::before,
  a.#{$prefix}--side-nav__link--current::before {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    width: 3px;
    background-color: $particle-dark-violet !important;
    content: '';
  }

  .#{$prefix}--side-nav__item[aria-expanded='true'] {
  background-color: $particle-cloud-grey;
  color: #000000 !important;
  }


.#{$prefix}--side-nav.#{$prefix}--side-nav--website--light
  a.#{$prefix}--side-nav__link[aria-current='page'],
.#{$prefix}--side-nav--website--light
  .#{$prefix}--side-nav__menu
  a.#{$prefix}--side-nav__link--current,
.#{$prefix}--side-nav--website--light
  .#{$prefix}--side-nav__menu
  a.#{$prefix}--side-nav__link[aria-current='page'] {
  background-color: $particle-lilac-violet !important;
  color: $particle-dark-violet !important;
}
  a.#{$prefix}--side-nav__link[aria-current='page'],
  a.#{$prefix}--side-nav__link--current {
    font-weight: 600;
    color: #19192a;
  }
  .#{$prefix}--side-nav__menu a.#{$prefix}--side-nav__link--current,
  .#{$prefix}--side-nav__menu a.#{$prefix}--side-nav__link[aria-current='page'],
  a.#{$prefix}--side-nav__link--current {
    background-color: $particle-lilac-violet;
    color: $particle-dark-violet !important;
    > span {

      font-weight: 500;
    }
  }
.bx--side-nav__submenu:hover {
  outline: none !important;
  color: $particle-dark-violet !important;
  background-color: transparent;
}


  .#{$prefix}--side-nav__item--active  {
  background-color: transparent;
  
  .#{$prefix}--side-nav__submenu-title {
    color: black !important;
    font-weight: 500;
  }

  }


.#{$prefix}--side-nav.#{$prefix}--side-nav--website--light
  .#{$prefix}--side-nav__item.#{$prefix}--side-nav__item--active
  .#{$prefix}--side-nav__submenu[aria-expanded='false'] {
  background-color: $particle-cloud-grey !important;
  position: relative;

  &::before {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    width: 3px;
    background-color: transparent;
  }
}


.bx--side-nav__submenu:focus {
  outline: none !important;
  color: $particle-dark-violet !important;
  border-color: transparent;
  padding-left: 3px;
  background-color: $particle-lilac-violet !important;
}
.#{$prefix}--side-nav.#{$prefix}--side-nav--website--light {
  background-color: $particle-cloud-grey !important;
  color: #585E67;
}
.#{$prefix}--header__action, .#{$prefix}--header__menu-trigger {
  visibility: hidden;
  width: 0 !important;
  display: none;
}

.header {
button svg {
  display: none !important;
  width: 0 !important;
}

.skip-to-content:focus {
  border: none !important;
  margin: 0;
}

}
.headerName {
  text-decoration: none;
  border-top: none !important;
  display: flex;
  align-items: center;
  &:focus {
    outline: none !important;
    outline-offset: 0px !important;
  }
}

@mixin focus-outline($type: 'border') {
  @if ($type == 'border') {
    outline: none!important;
  }

  @if ($type == 'blurred') {
    outline: none!important;
    outline-offset: 0px !important;
  }

  @if ($type == 'outline') {
    outline: none!important;
    outline-offset: 0px !important;
  }

  @if ($type == 'outline-compat') {
    box-sizing: border-box;
    border: none !important;
  }

  @if ($type == 'invalid') {
    outline: none!important;
    outline-offset: 0px !important;
  }

  @if ($type == 'reset') {
    outline: none!important;
    outline-offset: 0px !important;
  }
}