.list {
  width: 100%;
  --space: 32px;

  @include carbon--breakpoint('lg') {
    width: 66.67%;
  }
}

.list + * {
  --space: 72px;
}

.link {
  position: fixed;
  display: inline-block;
  right: $spacing-06;
  transition: color $particle-dark-violet;
  color: $gray-text;
  text-decoration: none;
  padding-bottom: $spacing-03;
  padding-left: $spacing-06;

  &:hover {
    color: $particle-dark-violet;;

    &::before {
      color: $particle-dark-violet;;
    }
  }

  &:before {
    content: '\21B3'; //"↳"
    position: fixed;
    right: $spacing-06;
    color: $particle-dark-violet;
    transition: color $particle-dark-violet;
    cursor: pointer;
  }
}

.list--small .link {
  @include carbon--type-style('body-long-02');
  margin-bottom: 0;
}

// Multiple Columns
.multiple-columns {
  @include carbon--breakpoint('md') {
    column-count: 2;
  }
}

// dark background
.container--dark .link {
  color: $particle-matter-grey;

  &:before {
    color: $particle-matter-grey;
  }

  &:hover {
    color: $brand-accent;

    &::before {
      color: $brand-accent;
    }
  }
}
